server:
  port: 8080

spring:
  application:
    name: order-service

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/order_service_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Colombo}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:acpt}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    open-in-view: false

inventory:
  base-url: ${INVENTORY_SERVICE_URL:http://localhost:8080}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
  api-docs:
    path: /v3/api-docs

logging:
  config: classpath:logback-spring.xml
  file:
    path: logs
